#lock-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: linear-gradient(to right, purple, rgb(35, 192, 204));
}
#lock-screen.hidden {
    animation: slideToTop 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideToTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

#lock-screen .clock {
    position: absolute;
    text-align: center;
    user-select: none;
    pointer-events: none;
    top: 20vh;
    width: 100%;
}
#lock-screen .clock .time {
    font-size: 80px;
    margin: 0;
}
#lock-screen .clock .date {
    font-size: 20px;
    margin: 0;
}