:root {
    /* --desktop-background: url('URL') no-repeat center center / cover; */
    --desktop-background: linear-gradient(to right, purple, rgb(35, 192, 204));
    /* --desktop-background: #494949; */
}

body {
    overflow: hidden;
}

#desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background: var(--desktop-background);
    overflow: hidden;
}


