/** ------ SCROLL BAR FIX FOR CHROME ------ */
/* chrome scrollbar is still the old blocky one */
/* this is a fix for that */

/* width */
::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    cursor: pointer;
    border-radius: 8px;
    background: var(--menu-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #555;
}




/** IN IFRAME SCROLLBAR */

.in-iframe > *::-webkit-scrollbar {
    width: 6px;
}

.in-iframe > *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.in-iframe > *::-webkit-scrollbar-track {
    background-color: transparent;
}

.in-iframe > *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



/** SLIM SCROLLBAR */

.scrollbar-slim::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-slim::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #959595;
}