:root {
    --taskbar-bg-color: #1c1c1c;
}

#taskbar {
    height: 50px;
    background-color: var(--taskbar-bg-color);

    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 55px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* APPS */
#taskbar .apps {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    width: 100%;
}

#taskbar .apps taskbar-app {
    height: 100%;
}

#taskbar .apps .separator {
    height: 100%;
    width: 1px;
    background-color: #333;
}


#taskbar .applets {
    display: none;
}


/* ##### FLOAT Variant ##### */
#taskbar[design="float"] {
    margin: 6px;
    border-radius: 12px;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
}



/* ##### SIDE Variant ##### */
#taskbar[position="left"],
#taskbar[position="right"] {
    transform: none;
    height: 80vh;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#taskbar[position="left"] {
    left: 0;
    right: unset;
}
#taskbar[position="right"] { 
    right: 0;
    left: unset;
}


#taskbar[position="left"] > *,
#taskbar[position="right"] > * {
    width: 100%;
    height: unset;   
}

#taskbar[position="left"] .apps taskbar-app,
#taskbar[position="right"] .apps taskbar-app {
    width: 100%;
    height: unset;
}

#taskbar[position="left"] .apps .separator,
#taskbar[position="right"] .apps .separator {
    width: 100%;
    height: 1px;
}

#taskbar[position="left"] .applets,
#taskbar[position="right"] .applets {
    display: unset;
}

#taskbar[position="left"] .applets *,
#taskbar[position="right"] .applets * {
    width: 100%;
    height: block;
}