:root {
    --taskbar-bg-color: #1c1c1c;
}

#taskbar {
    height: 50px;
    background-color: var(--taskbar-bg-color);

    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 55px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* APPS */
#taskbar .apps {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    width: 100%;
}

#taskbar .apps taskbar-app {
    height: 100%;
}

#taskbar .apps .separator {
    height: 100%;
    width: 1px;
    background-color: #333;
}


/* APPLETS */
#taskbar .applets {
    display: flex;
}


/* WEATHER APPLET */
#taskbar .weather {
    display: none;
}

/* TIME & DATE */
#taskbar .time-date {
    display: none;
}


/* ##### FLOAT Variant ##### */
#taskbar[design="float"] {
    margin: 6px;
    border-radius: 12px;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
}

#taskbar[position="bottom"][design="float"] .applets {
    display: none;
}



/* ##### SIDE Variant ##### */
#taskbar[position="left"],
#taskbar[position="right"] {
    transform: none;
    height: 80vh;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#taskbar[position="left"] {
    left: 0;
    right: unset;
}
#taskbar[position="right"] { 
    right: 0;
    left: unset;
}


#taskbar[position="left"] > *,
#taskbar[position="right"] > * {
    width: 100%;
    height: unset;   
}

#taskbar[position="left"] .apps taskbar-app,
#taskbar[position="right"] .apps taskbar-app {
    width: 100%;
    height: unset;
}

#taskbar[position="left"] .apps .separator,
#taskbar[position="right"] .apps .separator {
    width: 100%;
    height: 1px;
}

#taskbar[position="left"] .applets,
#taskbar[position="right"] .applets {
    display: unset;
}

#taskbar[position="left"] .applets *,
#taskbar[position="right"] .applets * {
    width: 100%;
    height: block;
}




/* ### BOTTOM Variant ### */
#taskbar[position="bottom"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 50px;
}

#taskbar[position="bottom"] > * {
    height: 80%;
}
#taskbar[position="bottom"] > * > * {
    height: 100%;
}

#taskbar[position="bottom"] .apps {
    width: unset;
}


/* hide power button */
#taskbar[position="bottom"] .applets applet-power {
    display: none;
}



/* ## DESIGN: CENTER ## */
#taskbar[position="bottom"][design="center"] .apps {
    /* center the apps in the middle of the taskbar (ignoring other elements) */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#taskbar[position="bottom"][design="center"] .weather {
    display: unset;
}

#taskbar[position="bottom"][design="center"] .time-date {
    display: unset;
}



/* ## TASKBAR TIME ## */
#taskbar .time-date {
    color: white;
    text-align: right;
    font-size: 14px;

    display: flex !important;
    justify-content: center;
    flex-direction: column;

    user-select: none;
}

#taskbar .time-date * {
    height: unset;
}