/* -------------- DRAGGING -------------- */
/* disable pointer globally */
body.window-dragging iframe {
    pointer-events: none;
}


/* ------- DEFAULT STYLES ------- */

/* WEBSITE */
app-window.website {
    width: 600px;
    height: 400px;
}
app-window.website iframe {
    height: 100%;
    width: 100%;
    border: none;
}
app-window.website {
    --body-bg-color: var(--head-bg-color);
}


