/* ------- DEFAULT STYLES ------- */
/* IFRAME (web browser) */
app-window iframe {
    height: 100%;
    width: 100%;
    border: none;
}

@media (prefers-color-scheme: light) {
    app-window iframe {
        border: 1px solid #e0e0e0;
    }
}


app-window:has(iframe) {
    --body-bg-color: #494949;
}

@media (prefers-color-scheme: light) {
    app-window:has(iframe) {
        --body-bg-color: #fdfdfd;
    }
}